<div class="h-full w-full grid grid-cols-1 lg:grid-cols-3 gap-4 overflow-hidden px-6 py-4">
    <!-- Section Recherche -->
    <div
        class="lg:col-span-1 h-full flex flex-col bg-white rounded-lg border border-gray-200 shadow-sm p-4 overflow-hidden">
        <div>
            <h2 class="text-lg font-bold text-gray-900 mb-4">Recherche de Pièces</h2>
            <form [formGroup]="orderForm" (ngSubmit)="searchParts()">
                <div class="space-y-3">
                    <!-- <app-floating-input label="Nom de l'entrepôt" [(value)]="warehouseName"></app-floating-input> -->
                     <div>
                    <app-floating-input formControlName="searchQuery" label="Code/Référence">
                    </app-floating-input>
                    </div>
                    <div>
                    <app-floating-input formControlName="searchOem" label="OEM">
                    </app-floating-input>
                    </div>
                    <div>
                    <app-floating-input formControlName="searchMarque" label="Marque">
                    </app-floating-input>
                    </div>
                    <!-- <div>
                        <label class="block text-sm font-medium text-gray-700">Code/Référence</label>
                        <input formControlName="searchQuery" type="text"
                            class="mt-1 block w-full rounded-md border-red-900 shadow-sm">
                    </div> -->
                    <!-- <div>
                        <label class="block text-sm font-medium text-gray-700">OEM</label>
                        <input formControlName="searchOem" type="text"
                            class="mt-1 block w-full rounded-md border-red-900 shadow-sm">
                    </div> -->
                    <!-- <div>
                        <label class="block text-sm font-medium text-gray-700">Marque</label>
                        <input formControlName="searchMarque" type="text"
                            class="mt-1 block w-full rounded-md border-red-900 shadow-sm">
                    </div> -->
                    <button type="submit" class="w-full bg-primary text-white px-4 py-2 rounded-xl hover:bg-red-700"
                        [disabled]="isLoading">
                        <span *ngIf="!isLoading">Rechercher</span>
                        <span *ngIf="isLoading">Recherche en cours...</span>
                    </button>
                </div>
            </form>
        </div>

        <div class="flex-1 min-h-0 overflow-y-auto pr-1 space-y-4 custom-sidebar-scroll">
            <div *ngFor="let product of searchResults"
                class="p-3 border rounded-lg hover:bg-gray-50 cursor-pointer transition-colors"
                (click)="addToCart(product)">
                <div class="flex items-start justify-between gap-3">
                    <div>
                        <p class="font-bold text-gray-900">
                            {{ product.codeArt || product.referenceCode }}
                        </p>
                        <p class="text-sm text-gray-600 line-clamp-2">
                            {{ product.libelle }}
                        </p>
                    </div>
                    <span class="text-xs bg-red-100 text-red-700 px-2 py-1 rounded-full">
                        Stock : {{ product.currentStock }}
                    </span>
                </div>
                <!-- <div class="font-semibold">{{ product.libelle }}</div> -->
                <div class="text-sm text-gray-600">Marque: {{product.marque }}</div>
                <!-- <div class="text-sm text-gray-600">Stock: {{ product.currentStock }}</div> -->
                <div class="text-sm font-medium text-blue-600">
                    Prix: {{ product.stocks[0].prixFinal | currency:'MGA':'symbol':'1.2-2' }}
                </div>
            </div>
        </div>
    </div>

    <!-- Section Panier -->
    <div
        class="lg:col-span-2 h-full flex flex-col bg-white rounded-lg border border-gray-200 shadow-sm p-4 overflow-hidden">
        <h2 class="text-lg font-bold text-gray-900 mb-4">Commande en Cours</h2>

        <div class="p-4 bg-gray-50 rounded-lg">
            <div class="mb-4">
                <form [formGroup]="orderForm">
                    <div class="grid grid-cols-3 gap-2">
                        <!-- Type de client -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Type de client</label>
                            <select formControlName="customerType" class="w-full p-2 border rounded">
                                <option *ngFor="let type of customerTypes" [value]="type">{{ type }}</option>
                            </select>
                        </div>

                        <!-- Nom / Client -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Nom / Client</label>

                            <!-- 🧍 Si non-B2B -->
                            <input *ngIf="!isB2B" formControlName="nom" placeholder="Nom complet"
                                class="w-full p-2 border rounded" />

                            <!-- 🏢 Si B2B -->
                            <select *ngIf="isB2B" formControlName="customerId" (change)="onB2BClientSelected()"
                                class="w-full p-2 border rounded">
                                <option [ngValue]="null">-- Sélectionner un client B2B --</option>
                                <option *ngFor="let client of clientsB2B" [ngValue]="client.id">
                                    {{ client.nom }} ({{ client.email || client.telephone }})
                                </option>
                            </select>
                        </div>

                        <!-- Téléphone -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Téléphone *</label>
                            <input formControlName="telephone" placeholder="Téléphone" class="w-full p-2 border rounded"
                                [readonly]="isB2B" [class.bg-gray-100]="isB2B" />
                        </div>

                        <!-- SIRET -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Nif</label>
                            <input formControlName="nif" placeholder="Nif" class="w-full p-2 border rounded"
                                [readonly]="isB2B" [class.bg-gray-100]="isB2B" />
                        </div>
                        <!-- Adresse -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Adresse</label>
                            <input formControlName="adresse" placeholder="Adresse" class="w-full p-2 border rounded"
                                [readonly]="isB2B" [class.bg-gray-100]="isB2B" />
                        </div>

                        <!-- Email -->
                        <div>
                            <label class="block text-sm font-medium text-gray-700">Email</label>
                            <input formControlName="email" placeholder="Email" class="w-full p-2 border rounded"
                                [readonly]="isB2B" [class.bg-gray-100]="isB2B" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="overflow-x-auto custom-sidebar-scroll mb-4">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50 font-semibold text-gray-700">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs uppercase">Référence</th>
                        <th class="px-6 py-3 text-left text-xs uppercase">Description</th>
                        <th class="px-6 py-3 text-left text-xs uppercase">Prix Unitaire</th>
                        <th class="px-6 py-3 text-left text-xs uppercase">Quantité</th>
                        <th class="px-6 py-3 text-left text-xs uppercase">Total</th>
                        <th class="px-6 py-3 text-left text-xs uppercase">Actions</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr *ngFor="let item of cartItems; let i = index">
                        <td class="px-6 py-4 overflow-hidden">{{ item.reference }}</td>
                        <td class="px-6 py-4 text-sm">{{ item.description }}</td>
                        <td class="px-6 py-4 whitespace-nowrap">{{ item.unitPrice | currency:'MGA':'symbol':'1.2-2' }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <input type="number" [value]="item.quantity" (change)="updateQuantity(item, $event)" min="1"
                                [max]="item.availableStock" class="w-20 border rounded px-2 py-1 text-center">
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            {{ (item.unitPrice * item.quantity) | currency:'MGA':'symbol':'1.2-2' }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <button (click)="removeItem(i)" class="text-red-600 hover:text-red-900">
                                <i class="fa-solid fa-xmark fa-lg"></i>
                            </button>
                            <button (click)="openProductDetail(item.stockId)"
                                class="text-blue-600 hover:text-red-900 ml-3">
                                <i class="fa-solid fa-circle-info fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-4 flex justify-between items-center">
            <div class="text-lg font-bold">
                Total Global: {{ getTotal() | currency:'MGA':'symbol':'1.2-2' }}
            </div>

            <div class="space-x-4">
                <button (click)="cancelOrder()" class="bg-secondary text-white px-6 py-2 rounded-md hover:bg-gray-700"
                    [disabled]="cartItems.length === 0 || isLoading">
                    Annuler
                </button>
                <button (click)="previewInvoice()" class="bg-primary text-white px-6 py-2 rounded-md hover:bg-red-700"
                    [disabled]="cartItems.length === 0 || isLoading">
                    Aperçu Facture
                </button>
            </div>
        </div>
    </div>
</div>

<!-- <button (click)="openProductDetail(product.stockId || product.id)">
  Voir détail
</button> -->

<app-product-detail-modal *ngIf="selectedProductStockId" [stockId]="selectedProductStockId"
    (close)="closeProductDetail()">
</app-product-detail-modal>

<!-- Modal Aperçu Facture -->
<app-order-preview-modal
  [isOpen]="showModal"
  [isLoading]="isLoading"
  title="Aperçu de Facture"
  confirmLabel="Confirmer la Commande"
  [preview]="invoicePreview"
  [clientInfo]="orderForm.value"
  [customerTypeLabel]="getCustomerTypeLabel(orderForm.value.customerType)"
  [showClientBlock]="true"
  [date]="today"
  (close)="closeModal()"
  (confirm)="confirmOrder()">
</app-order-preview-modal>